.popup-heading-wrapper
{
    padding: 10px;
}
body.user-dashboard .modal-profile-complete h4.sidebar-title
{
    margin-top: 10px !important;
}
body.user-dashboard .modal-profile-complete p
{
    font-size: 14px;
}
body.user-dashboard .modal-profile-complete 
{
    width: auto !important;
    background: none repeat scroll 0 0 #ffffff !important;
    border-radius: 10px !important;
    border: 3px solid #d1d1d1 !important;
    padding: 0px !important;
}
.donation-heading
{
    /*color: #7fc41a !important;*/
    color: #53830c !important;
}
    
.donation-heading
{
    /*color: #7fc41a !important;*/
    color: #53830c !important;
}  

#complete-profile-popup .edit-name-social
{
    border: 0px solid red !important;
}

#complete-profile-popup
{
    left: 29% !important;
    z-index: 5 !important;
}

#complete-profile-popup .sidebar-title 
{
    color: #124c72 !important;
    font-size: 1em !important;
    text-align: center !important;
    font-weight: bold !important;
}

#complete-profile-popup .edit-profile-image img
{
    /*float: left;
    margin-right: 15px !important;*/
    /*margin-left: 80px;    */
    margin: 0 auto;
    margin-bottom: 5px;
}
#complete-profile-popup .edit-profile-image
{    
    float: none !important;
    text-align: center;
    /*height: 130px !important;*/
}
.lable-asterisk
{
    color: #d8000c !important;
    font-size: 17px;
}
.side-label
{
    border: 0px solid;
    float: left;
    font-size: 16px;
    /*font-weight: bold;*/
    width: auto;
    float: left;
    /*margin-left: 57px;*/
}
.name-modal
{
    color: #106f8e;
    display: block;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
}
.saving-label
{
    color: #99c736;
    /*display: block;*/
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    display: none;
}
#complete-profile-popup .modal-profile-complete
{    
    /*height: 400px !important;*/
}
#my_photo
{
    /*margin-top: 38px !important;
    float: left !important;*/
}

.error-bar-para
{
    background-color: #ffbaba;
    border: 1px solid #ff3333 !important;
    color: #d8000c;
    font-size: 12px !important;
    padding: 4px !important;
}

.error-bar {
    width: 72% !important;
    margin: 0 auto;
}

.error-field
{
    border: 1px solid red;
}
.edit-profile-row
{
    /*border: 1px solid red;*/
    margin: 0 auto;
    width: 45%;    
}
.edit-profile-row-setting-one-field
{
        
    border: 0px solid red !important;
    float: left !important;
    height: 58px !important;
    margin: 0 auto !important;
    width: 100% !important;
    padding-left: 13px !important;
}
.edit-profile-row-setting
{
        
    border: 0px solid red !important;
    float: left !important;
    height: 73px !important;
    margin: 0 auto !important;
    width: 50% !important;
    padding-left: 13px !important;
}
.edit-profile-row-wrap-sbj-grd
{
    border: 0px solid blue !important;
    height: 200px !important;
}
.edit-profile-row-wrap
{
    border: 0px solid blue !important;
    height: 65px !important;
}
.edit-profile-row-setting-fld-only
{
        
    border: 0px solid red !important;
    float: left !important;
    height: 45px !important;
    margin: 0 auto !important;
    width: 50% !important;
    padding-left: 13px !important;
}
.edit-profile-row-wrap-fld-only
{
    border: 0px solid blue !important;
    height: 54px !important;
}

.edit-profile-row-wrap-img
{
    border: 0px solid blue !important;
    height: 160px !important;
}

.hidden
{
    display: none !important;
}
.modal button
{
    font-weight: bold !important;
}
.subject-areas-ul-complete-profile li:hover
{
    cursor: pointer;
}
.subject-areas-ul-complete-profile
{
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
    width: 280px !important;
    overflow-x: hidden !important;
    min-height: 150px !important;
    max-height: 150px !important;
}

.subjects-ul
{
    margin-left: 20px !important;
}

.education-level-ul-complete-profile li:hover
{
    cursor: pointer;
}
.education-level-ul-complete-profile
{
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
    width: 280px !important;
    overflow-x: hidden !important;
    min-height: 150px !important;
    max-height: 150px !important;
}
.modal-title-format
{
    margin-top: 10px !important;
    font-family: "proxima-nova",sans-serif !important;
    color: #124c72 !important;
    font-size: 1.25em !important;
    text-align: center !important;
    font-weight: bold !important;
}
#complete-profile-popup div.close
{
    right: -25px !important;
}

#thank-you-modal
{
    left: 37% !important;
    z-index: 6 !important;
}
#complete-profile-popup
{
    width: 625px !important;
}