/* 
    Created on : Mar 21, 2016, 8:58:41 PM
    Author     : furqanaziz
    Purpose    : to manage style of search module
*/
@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/proximanovabold.eot');
    src: url('../fonts/proximanovabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanovabold.svg#proximanovabold') format('svg'),
        url('../fonts/proximanovabold.ttf') format('truetype'),
        url('../fonts/proximanovabold.woff') format('woff'),
        url('../fonts/proximanovabold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/proximanovaregular.eot');
    src: url('../fonts/proximanovaregular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanovaregular.svg#proximanovaregular') format('svg'),
        url('../fonts/proximanovaregular.ttf') format('truetype'),
        url('../fonts/proximanovaregular.woff') format('woff'),
        url('../fonts/proximanovaregular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/proximanovasemibold.eot');
    src: url('../fonts/proximanovasemibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanovasemibold.svg#proximanovasemibold') format('svg'),
        url('../fonts/proximanovasemibold.ttf') format('truetype'),url('proximanovasemibold.woff') format('woff'),
        url('../fonts/proximanovasemibold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}
.site-container{min-width: 250px;}
#language{float:left;}
.subjectarea{display: none;}
.show-hide-options{cursor: pointer;}
.optionset {padding: 0px 20px;width:20%}
.collection-actions div {width: 33.18%;cursor: pointer;}
.search-term span{cursor: pointer;}
.search-term span:hover{text-decoration: underline;}
.disabled{cursor: not-allowed !important;}
#standards-accordion select {border-radius: 0; width: 75%; height: 254px}
#standards-accordion select option {border-bottom: solid 1px #7d8d96; padding: 5px;}
.search-tool-tip{cursor: help}
.toolTipCustomClass{font-size: 14px !important;color:#124C72 !important;width:600px !important;max-width:700px !important;}
.toolTipCustomClass li{margin-left:20px; list-style: disc}
.sort-dropdown{ text-align: right;float: right;}
.library-collection{position: relative;}
.tab:hover {
    color: #FFF;
    background: none repeat scroll 0% 0% #124C72;
    padding: 5px 0px;
    top: -4px;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #124C72 #124C72 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: pointer;
    display: inline-block !important;
}
.library-collection .edit{
    position: absolute;
    right: -1px;
    top: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #D1D1D1;
    border-radius: 0px 0px 0px 7px;
    background: none repeat scroll 0% 0% #FFF;
    color: rgb(165, 197, 70);
    font-size: 22px;
    padding: 2px 5px;
    line-height: 1;
    cursor: pointer;
}

.subject-optionset {padding-right: 0px;position: relative;}
.subject-optionset li input{margin: 5px;}
.subject-optionset li{padding-right: 20px;margin: 0px -1px 0px 0px;padding-left: 10px;}
.subject-optionset li.hover{background: #F1F2F2;border-color: #ADADAD; -moz-use-text-color: #ADADAD #ADADAD;border-width: 1px medium 1px 1px;border-style: solid none solid solid;margin: -1px;}
.subjectarea-optionset{max-width: 38%;min-width: 38%;min-height: 350px;}
.subjects .optionset{display:none;}

@media only screen and (max-width: 1250px) {
    .content-sidebar .content-sidebar-wrap, .full-width-content .content-sidebar-wrap, .sidebar-content .content-sidebar-wrap {
        width: 100%;
    }
}
@media screen and (max-width: 1223px) {
    .subjectarea-optionset{min-width: 50%;}
}
@media screen and (max-width: 1100px) {
    .subjectarea-optionset{min-width: 60%;}
}
@media screen and (max-width: 700px) {
    .subjectarea-optionset{min-width: 50%;}
    .optionset.two-col ul {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
    .search-text{display:none;}
    .search-input .search-button-icon {margin-right: 0px;}
    .search-input .search-field{width: 90%;}
    .search-input .search-button{width: 10%;}
    .search-bar .search-options .search-dropdown{height: 20px !important; max-height: 20px !important;}
}
@media screen and (max-width: 541px)  {
    .subjectarea-optionset{display:none;}
    .subject-optionset li.hover{background: inherit; -moz-use-text-color: inherit;border-style: none;margin: 0px;}
    .subjects .optionset{display:block;min-width: 170px !important;width: 100% !important;}
    .search-input .search-field{width: 85%;}
    .search-input .search-button{width: 15%;}
}
@media screen and (max-width: 350px)  {
    .search-input .search-field{width: 80%;}
    .search-input .search-button{width: 20%;}
}
@media screen and (max-width: 270px)  {
    .search-input .search-field{width: 75%;}
    .search-input .search-button{width: 25%;}
}
@media screen and (max-width: 430px)  {
    .advance-options-text{display:none;}
}

#collection-tabs .less-collection-info{display: none;}
.collection-more-info{display: none;}
.collection-share{display: none;}
.collection-actions div:last-child {border-right: none;}

.resources ul{margin-left: 20px;padding: 10px;}
.resources li{list-style-type: disc;}
.resources .collection-resources ul {-webkit-column-count: 2;-moz-column-count: 2;column-count:2;}
.resources .collection-subjects ul {-webkit-column-count: 2;-moz-column-count: 2;column-count:2;}
.resources .collection-grades ul {-webkit-column-count: 3;-moz-column-count: 3;column-count:3;}
.resources .collection-type ul {-webkit-column-count: 3;-moz-column-count: 3;column-count:3;}
.collection-more-info-content div{border-top: solid 1px #BBB;padding-top: 5px;}
.bottomsheet{width:100%;min-height:80px;background:#222222;bottom: 0px;position:fixed;opacity: 0.9;left:0px;max-height: 500px;}
.bottomsheet .close{position:absolute;top: 5px;right: 5px;width: 20px;height: 20px;cursor:pointer;z-index:500;}
.bottomsheet .close {width: 20px;height: 20px;position: absolute;right: 4px;top: 4px;overflow: hidden;text-indent: 100%;cursor: pointer;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.bottomsheet .close:hover, .bottomsheet .close:focus {outline: none;}
.bottomsheet .close::before,.bottomsheet .close::after {content: '';position: absolute;width: 3px;height: 60%;top: 50%;left: 50%;background: #1f8b4d;}
.bottomsheet .close:hover::before, .bottomsheet .close:hover::after {background: #fff;}
.bottomsheet .close::before {-webkit-transform: translate(-50%,-50%) rotate(45deg);transform: translate(-50%,-50%) rotate(45deg);}
.bottomsheet .close::after {-webkit-transform: translate(-50%,-50%) rotate(-45deg);transform: translate(-50%,-50%) rotate(-45deg);}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tp-admin-wrapper{ 
    width: 98% !important;
    margin: 0 auto;
    text-align: center;
}
.tp-admin-wrapper h2{ 
    margin-top: 20px;
}

.page-module .site-inner {padding-top: 96px !important;}
.lms-select-link{    
    margin-right: 1px !important;
    display: inline-block;
}
.blackboard-link img
{
    margin-top: -38px;
    width: 123px !important;
}

.crop-icn-blackboard
{    
    height: 50px;
    overflow: hidden;
    width: 125px;
}
.moodle-link
{
    margin-top: 45px;
}
.moodle-link-widget
{
    margin-top: 0px;
}

.moodle-link img
{
    margin-top: 6px;
    width: 110px !important;
}
.crop-icn-moodle
{    
    height: 50px;
    overflow: hidden;
    width: 125px;
}

.canvas-link
{
    margin-top: 5px !important;
}
.canvas-link img
{
    width: 90px !important;
}
.d2l-link
{
    margin-top: 19px !important;
}
.d2l-link img
{
    width: 90px !important;
}
.crop-icn-d2l
{
    height: 55px;
    overflow: hidden;
    width: 100px;
}

.sakai-link
{
    margin-top: 35px !important;
}
.sakai-link-widget
{
    margin-top: 15px !important;
}
.sakai-link img
{
    width: 76px !important;
}
.crop-icn-sakai
{
    height: 58px;
    overflow: hidden;
    width: 96px;
}

#add_lms_lti
{
    cursor: pointer !important;
}

.add_lms_lti_show
{
    z-index: 10;
}

#lti-lms-popup .edit-name-social
{
    border: 0px solid red !important;
}

#lti-lms-popup
{
    left: 29% !important;
    z-index: 5 !important;
}

#lti-lms-popup .sidebar-title 
{
    color: #124c72 !important;
    font-size: 1em !important;
    text-align: center !important;
    font-weight: bold !important;
}

#lti-lms-popup .edit-profile-image img
{
    /*float: left;
    margin-right: 15px !important;*/
    /*margin-left: 80px;    */
    margin: 0 auto;
    margin-bottom: 5px;
}
#lti-lms-popup .edit-profile-image
{    
    float: none !important;
    text-align: center;
    /*height: 130px !important;*/
}

#lti-lms-popup div.close
{
    right: -85px !important;
    top: -18px !important;
}

#lti-lms-popup
{
    width: 700px !important;
}

.popup-heading-wrapper
{
    padding: 10px;
}
body.user-dashboard .modal-lm-select h4.sidebar-title
{
    margin-top: 10px !important;
}
body.user-dashboard .modal-lm-select p
{
    font-size: 14px;
    padding-left: 15px;
}
body.user-dashboard .modal-lm-select 
{
    width: auto !important;
    background: none repeat scroll 0 0 #ffffff !important;
    border-radius: 10px !important;
    border: 3px solid #d1d1d1 !important;
    padding: 0px !important;
    
}

#lti-lms-popup .edit-name-social
{
    border: 0px solid red !important;
}

#lti-lms-popup
{
    left: 25% !important;
    z-index: 5 !important;
}

#lti-lms-popup .sidebar-title 
{
    color: #124c72 !important;
    font-size: 1em !important;
    text-align: center !important;
    font-weight: bold !important;
}

#lti-lms-popup .edit-profile-image img
{
    /*float: left;
    margin-right: 15px !important;*/
    /*margin-left: 80px;    */
    margin: 0 auto;
    margin-bottom: 5px;
}
#lti-lms-popup .edit-profile-image
{    
    float: none !important;
    text-align: center;
    /*height: 130px !important;*/
}

.lti-lms-popup-cls img
{
    border-radius: initial !important;    
}
#lti-lms-popup-2
{
    min-height: 152px;
}

.lms-popup-additional{
    text-align: left !important;
    padding-left: 20px !important;
}
.lms-popup-additional h2{
    text-align: center !important;    
}

.lti-integrations-card .lms-select-link img
{
    border-radius: 0% !important;
}
.no_lms_msg
{
    margin-top:18px
}
.lms-select-link-widget
{
    width: 107px;
}

.lti-keys-list
{
    text-align: left;
}
.lms-key-text
{
    font-size: 1em !important;
}
.keys-link
{
    display: flex !important;
}

.lms-key-label
{
    margin-left: 3px;
    width: 230px !important;
    text-align: left !important;
}

.lms-secret-label
{
    margin-left: 25px;
    min-width: 330px !important;
    text-align: left !important;
}

.lti-form-text-field
{
    width: 290px;
}

.lti-lms-container {
    padding: 6px !important;
}
.lti-lms-container {
    max-height: 230px;
    max-width: calc(100% - 4px);
    padding: 10px;
    margin-bottom: 10px;
}
.rounded-borders-full {
    border-radius: 8px;
}
.border-grey-lti {
    border: 1px solid #d1d1d1;
}
.lti-lms-container {
    min-height: 220px !important;
    width: 800px !important;
}

.scrollbar-wrapper-lti {
    border: 0 solid red;
    height: 215px;
    overflow-y: scroll;
}


.site-inner{
    margin: 0 auto;
    max-width: 100% !important ;
    position: relative;
}


.container_12, .container_12.wrap {
    max-width: 100% !important;
}

.content-sidebar .content {
    padding: 0px !important;
}

.banner-search-wrap button
{
    padding: 0px !important;
}

.search-dropdown select
{
    padding-top: 4px !important;
}

/*
.collection{ margin-bottom:90px;}
.collection h2{ margin:0; padding:10px; text-align:center; font-size:30px; font-family: 'Open Sans', sans-serif; font-weight:600; color:#000}

.collection-box{ margin:30px 0 0 0; padding:0;}
.collection-img{ position:relative; border-radius:8px 8px 0 0; overflow:hidden;}
.collection-img img{ width:100%; height:auto;}
.collection-content{ background:#fff; border-radius:0 0 8px 8px; border:1px solid #d1d3d4; border-top:none;}
.collection-content h3{ text-align:center; padding:25px 10px; color:#000; font-size:20px; text-align:center; font-family: 'ProximaNova-Semibold'; margin:0}
.collection-content p{ padding:6px 12px; border-top:1px solid #d1d3d4; text-align:center; margin:0; color:#59595b;}
.collection-content p i{ margin-right:6px;}
.collection-box .overlay{ position:absolute; height:100%; width:100%; top:0; left:0; background:rgba(0,0,0, 0.7); -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s; opacity:0; filter:alpha(opacity=0);}
.collection-box .overlay a{ position:absolute; top:50%; left:50%; margin:-17px 0 0 -70px; line-height:34px; width:140px; background:#fff; border-radius:4px; text-align:center; color:#bd48b9}
.collection-box:hover .overlay{opacity:1; filter:alpha(opacity=100);}

@media only screen and (max-width: 767px) {   
    .collection{ margin-bottom:40px;}   
} 
*/

.community-pages-content{ margin-bottom:30px;}
.community-pages-content h2{ margin:0; padding:10px; text-align:center; font-size:30px; font-family: 'Open Sans', sans-serif; font-weight:600; color:#000}

.community-pages-content-box{ margin:30px 0 0 0; padding:0;}
.community-pages-content-img{ position:relative; border-radius:8px 8px 0 0; overflow:hidden;}
.community-pages-content-img img{ width:100%; height:auto;}
.community-pages-content-content{ background:#fff; border-radius:0 0 8px 8px; border:1px solid #d1d3d4; border-top:none;}
.community-pages-content-content h3{ text-align:center; padding:25px 10px; color:#000; font-size:20px; text-align:center; font-family: 'ProximaNova-Semibold'; margin:0}
.community-pages-content-content p{ padding:6px 12px; border-top:1px solid #d1d3d4; text-align:center; margin:0; color:#59595b;}
.community-pages-content-content p i{ margin-right:6px;}
.community-pages-content-box .overlay{ position:absolute; height:100%; width:100%; top:0; left:0; background:rgba(0,0,0, 0.7); -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s; opacity:0; filter:alpha(opacity=0);}
.community-pages-content-box .overlay a{ position:absolute; top:50%; left:50%; margin:-17px 0 0 -70px; line-height:34px; width:140px; background:#fff; border-radius:4px; text-align:center; color:#bd48b9}
.community-pages-content-box:hover .overlay{opacity:1; filter:alpha(opacity=100);}

@media only screen and (max-width: 767px) {   
    .community-pages-content{ margin-bottom:40px;}   
}

.cd-top {
    background-color: #7fc41a;
    bottom: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 140px;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    visibility: hidden;
    white-space: nowrap;
    width: 40px;
    z-index: 10;
    color: #ffffff !important;
    padding-left: 13px;
    padding-top: 8px;
}
.community-pages-wrapper
{
/*    padding-top: 10px;
    padding-bottom: 10px;*/
    padding-left: 20px;
    padding-right: 20px;
    /*text-align: justify !important;*/
}
.group-info
{
    /*border: 2px solid red !important;*/
    height: 74px;
}
.collection,.groups {
    margin-bottom: 30px !important;
}
.community-pages-logo-wrapper {
    height: 150px;
    margin: 0 220px 15px;    
    overflow: hidden;
}
.community-pages-logo { 
    margin: 0 auto;  
    position: relative;
}
.collection_img_style
{    
    /*width: 282px !important;*/
    width: 100% !important;
    height: 168px !important;
}
.container-nav
{
    margin: 0 auto;
}

/*.collection-content h3{ text-align:center; padding:25px 10px; color:#000; font-size:20px; text-align:center; font-family: 'ProximaNova-Semibold'; margin:0}*/
.collection-content h4{ 
    text-align:center !important; 
/*    padding:12px 0 0 0 !important; */
    padding: 15px 10px !important;
    margin:0 !important; 
    color:#2f282c !important; 
    text-align:center !important; 
    font-size:17px !important; 
    font-family: 'ProximaNova-Semibold'!important;
}
.cp-header-wrapper
{
    /*border: 1px solid red;*/
    height: 67px;
}
.cp-header-wrapper-group
{
    /*border: 1px solid red;*/
    height: 53px;
}



    

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    #bs-example-navbar-collapse-1
    {
        /*border: 2px solid blue;*/
        width: auto;
        margin: 0 auto;
    }
    
    input, select, textarea,
    button, input[type="button"], input[type="reset"], input[type="submit"], .button,
    .green-button, .blue-button, .purple-button, .red-button {
      max-width: none;      
      width: 100%;
    }
    .container{
        width: 100%;
    }
    #bs-example-navbar-collapse-1
    {
        /*border: 2px solid blue;*/
        width: 100%;
        /*margin: 0 auto;*/
    }
     #lang_sel_list
    {
        font-size: 10px !important;
    }
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 700px) 
                   and (orientation: landscape) {                       
                        #cp_search {
                            
                            display: inline !important;
                        }
                        .banner-search-wrap
                        {
                            text-align: center !important;                            
                            max-width: 50% !important;
                            margin: 0 auto;
                        }
                        
                        #bs-example-navbar-collapse-1
                        {
                            /*border: 2px solid blue;*/
                            width: 100%;
                            /*margin: 0 auto;*/
                        }
                        button.navbar-toggle
                        {
                            max-width: none;
                        }
                         #lang_sel_list
                        {
                            font-size: 10px !important;
                        }

}

/* Smartphones (landscape) ----------- 
@media only screen 
and (min-width : 321px) {

}
*/

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
    #bs-example-navbar-collapse-1
    {
        /*border: 2px solid blue;*/
        width: auto;
        margin: 0 auto;
    }
    .secondary-nav .navbar-nav > li{ 
        float:none; text-align:center; display:table-cell; font-family: 'ProximaNova-Semibold'; font-size:16px;          
    }    
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    .secondary-nav .navbar-nav > li{ 
        float:none; text-align:center; display:table-cell; font-family: 'ProximaNova-Semibold'; font-size:16px;
    /*    border: 1px solid red;*/
        min-width: 220px;
    }
    .nav {
        list-style: outside none none;
    }
    #cp_search
    {
        max-width: 100% !important;        
    }
    
    #bs-example-navbar-collapse-1
    {
    /*    border: 2px solid blue;*/
        width: 1170px;
        margin: 0 auto;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
    .secondary-nav .navbar-nav > li{ 
        float:none; text-align:center; display:table-cell; font-family: 'ProximaNova-Semibold'; font-size:16px;
    /*    border: 1px solid red;*/
        min-width: 220px;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/*** [strat] Bootstrap styles ****/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.collapse {
    display: none;
}
.navbar-collapse.in {
    overflow-y: auto;
}

.collapse.in {
    display: block;
}


/*** [end] Bootstrap styles ****/

.banner{ margin:0; padding:80px 0; background:url(../images/banner.jpg) no-repeat center; background-size:cover;}
.banner h1{ margin:0; padding:0; font-size:82px; font-weight:normal; font-family: 'ProximaNova-Bold'; line-height:82px; text-align:center; color:#fff;}
.banner p{ margin:0; padding:10px 0 55px 0; font-size:32px; color:#fff; text-align:center; line-height:32px; font-family: 'ProximaNova-Semibold';}

.banner-search{ padding:0; margin:0 auto; width:670px; position:relative;}
.banner-search-wrap{ padding:0 100px 0 176px; position:relative;}
.banner-search .form-control{ padding:5px; height:30px; border-radius:0; border:none;}
.banner-search .select{ position:absolute; top:0; left:0; width:176px;}
.banner-search .select select{ background-color:#e2e4e5; border-radius:6px 0 0 6px; border:none; height:30px; padding:5px;}
.banner-search  button{ position:absolute; top:0; right:0; height:30px; width:100px; border-radius:0 6px 6px 0; color:#fff; font-size:18px; background:#7ec41a; border:none; cursor:pointer; text-align:center; font-family: 'ProximaNova-Semibold';} 
.banner-search  button span{ margin-left:3px;}

.page-template-page-community-pages-search .site-inner .search-content {
    padding-top: 0 !important;
}


ul:before, .header ul:after{ content:''; display:table;}
ul:after{ clear:both;}
a:hover {text-decoration: none;}
.header{ margin:0; padding:0;}
.logo{ float:left;}
.header ul{ float:right; margin:0; padding:0; list-style:none;}
.header ul li{ float:left; margin-right:1px;}
.header ul li:last-child{ margin:0}
.header ul li a{ display:block; padding:0 15px; color:#fff; background:#7ec41a; line-height:56px; font-family: 'ProximaNova-Bold';}

.navigation{ background:#004b74; position:relative;}
.navigation [class*="col-"]{ float:right;}


.toggleMenu { display:none; text-transform:uppercase; background:url(../images/toogle-open.png) no-repeat center; height:40px; width:40px; position:absolute; top:0; left:0; text-indent:-9999px;}
.toggleMenu.active{ background:url(../images/toogle-close.png) no-repeat center;}
/*.menu { list-style:none; *zoom:1; margin:0; padding:0; text-align:center; width:100%; display:table; border-left:1px solid #003f62}
.menu:before, .menu:after { content:""; display:table; }
.menu:after { clear:both; }
.menu ul { list-style:none; width:200px; float:none; left:0; top:100%; position:relative; }
.menu a { padding:0 15px; color:#fff; }
.menu li { position:relative; padding:0; }
.menu > li > .parent{ background-image:url(../images/downArrow.png); background-repeat:no-repeat; background-position:center 90%; }
.menu li a:hover, .menu li:hover > a, .menu li.current-menu-item > a, .menu li.current-menu-parent > a{color:#fff; text-decoration:none;}
.menu > li {display:table-cell; font-size:14px; position:relative; line-height:40px; text-align:center; border-right:1px solid #003f62}
.menu > li > a { display:block; }
.menu li ul { position:absolute; left:-9999px; margin:0; padding:0; list-style:none; }
.menu > li.hover > ul { left:0; margin-left:0; }
.menu li li.hover ul { left:100%; top:0; }
.menu li li{ padding:0; line-height:22px; text-align:left; margin:0; border-bottom:1px solid #003f62; font-weight:400; text-transform:none;}
.menu li li a { display:block; background-color:#004b74; position:relative; z-index:100; font-size:14px; padding:6px 10px;}
.menu li li:last-child{ border-bottom:none; }
.menu li li a:hover{ color:#fff; background-color:#003f62; }
.menu li li li a { background-color:#004b74; z-index:200; }*/
@media screen and (max-width:1199px) {
    .main-nav .active { display:block; }
    .main-nav{ text-align:left; position:absolute; top:100%; left:0; right:0; background:#004b74; z-index:9999; display:block; padding:0; }
/*    .menu{ border-left:medium;}
    .menu > li { float:none; display:block; border-top:1px solid #003f62; text-align:left; line-height:30px; background:none; border-right:none;}
    .menu a{ padding:5px 15px; }
    .menu li{ display:block; }
    .menu > li > .parent { background-position:95% 50%; }
    .menu > li > .parent{ background-image:url(../images/downArrow.png); background-repeat:no-repeat; background-position:98% 50%; }
    .menu li.hover > .parent{ background-image:url(../images/upArrow.png); background-repeat:no-repeat; background-position:98% 50%; }
    .menu li li .parent {background-image:url(../images/downArrow.png); background-repeat:no-repeat; background-position:98% 50%; }
    .menu ul { display:block; width:100%; border-bottom:none; }
    .menu > li.hover > ul , .menu li li.hover ul {position:static; margin-left:0}
    .menu li li a { padding:5px 30px; }
    .menu li li{ text-align:left; border-bottom:none}
    .menu li li li a{ padding:5px 45px; }
    .menu li ul{ box-shadow:none; -webkit-box-shadow:none}*/
}

.top-search{ padding:5px 0; position:relative;}
.top-search-wrap{ padding:0 30px 0 90px; position:relative;}
.top-search .form-control{ padding:5px; height:30px; border-radius:0; border:none;}
.top-search .select{ position:absolute; top:0; left:0; width:90px;}
.top-search .select select{ background-color:#e2e4e5; border-radius:6px 0 0 6px; border:none; height:30px; padding:5px;}
.top-search  button{ position:absolute; top:0; right:0; height:30px; width:30px; border-radius:0 6px 6px 0; color:#fff; font-size:18px; background:#7ec41a; border:none; cursor:pointer; text-align:center} 

.c-select {display: inline-block;width: 100%; -webkit-appearance: none; padding: .375rem 1.75rem .375rem .75rem; padding-right: .75rem \9; color: #55595c; vertical-align: middle;
           background: #e2e4e5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center; background-image: none \9; -webkit-background-size: 8px 10px; background-size: 8px 10px; border: 1px solid #ccc;-moz-appearance: none;}

/*.banner{ margin:0; padding:158px 0; background:url(../images/banner.jpg) no-repeat center; background-size:cover;}*/
.banner{ margin:0; padding:80px 0; background:url(../images/banner.jpg) no-repeat center; background-size:cover;}
.banner h1{ margin:0; padding:0; font-size:82px; font-weight:normal; font-family: 'ProximaNova-Bold'; line-height:82px; text-align:center; color:#fff;}
.banner p{ margin:0; padding:10px 0 55px 0; font-size:32px; color:#fff; text-align:center; line-height:32px; font-family: 'ProximaNova-Semibold';}

.banner-search{ padding:0; margin:0 auto; width:670px; position:relative;}
.banner-search-wrap{ padding:0 100px 0 176px; position:relative;}
.banner-search .form-control{ padding:5px; height:30px; border-radius:0; border:none;}
.banner-search .select{ position:absolute; top:0; left:0; width:176px;}
.banner-search .select select{ background-color:#e2e4e5; border-radius:6px 0 0 6px; border:none; height:30px; padding:5px;}
.banner-search  button{ position:absolute; top:0; right:0; height:30px; width:100px; border-radius:0 6px 6px 0; color:#fff; font-size:18px; background:#7ec41a; border:none; cursor:pointer; text-align:center; font-family: 'ProximaNova-Semibold';} 
.banner-search  button span{ margin-left:3px;}

.secondary-nav{ background:#fff; position:relative;}
.secondary-nav .navbar{ min-height:inherit; margin:0}
.secondary-nav .navbar-default{ background:none; border-radius:0; border:none;}
.secondary-nav .navbar-nav{ float:none; display:table; width:100%;}
/*.secondary-nav .navbar-nav > li{ float:none; text-align:center; display:table-cell; font-family: 'ProximaNova-Semibold'; font-size:16px;}*/
.secondary-nav .navbar-default .navbar-nav > li > a:hover,
.secondary-nav .navbar-default .navbar-nav > li > a:focus {color: #bd48b9; text-decoration:underline;}
.secondary-nav .navbar-default .navbar-nav > li > a{ padding-top:28px; padding-bottom:28px; color:#005e87; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease;}
.secondary-nav .navbar-toggle{ float:none; margin:0; width:100%; background:url(../images/toogle-open.png) no-repeat right #003f62; padding:0; line-height:40px; height:40px; color:#fff; border:none; border-radius:0; text-align:left;}
.secondary-nav .navbar-toggle:hover, .secondary-nav .navbar-toggle:focus{ background:url(../images/toogle-open.png) no-repeat right #003f62;}

/*.wrapper{ padding:87px 0 147px; background:#f1f2f2;}*/
.wrapper{ padding:35px 0 147px; background:#f1f2f2;}

.collection{ margin-bottom:90px;}
.collection h2{ margin:0; padding:10px; text-align:center; font-size:30px; font-family: 'Open Sans', sans-serif; font-weight:600; color:#000}

.collection-box{ margin:30px 0 0 0; padding:0;}
.collection-img{ position:relative; border-radius:8px 8px 0 0; overflow:hidden;}
.collection-img img{ width:100%; height:auto;}
.collection-content{ background:#fff; border-radius:0 0 8px 8px; border:1px solid #d1d3d4; border-top:none;}
.collection-content h3{ text-align:center; padding:25px 10px; color:#000; font-size:20px; text-align:center; font-family: 'ProximaNova-Semibold'; margin:0}
.collection-content p{ padding:6px 12px; border-top:1px solid #d1d3d4; text-align:center; margin:0; color:#59595b;}
.collection-content p i{ margin-right:6px;}
.collection-box .overlay{ position:absolute; height:100%; width:100%; top:0; left:0; background:rgba(0,0,0, 0.7); -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s; opacity:0; filter:alpha(opacity=0);}
.collection-box .overlay a{ position:absolute; top:50%; left:50%; margin:-17px 0 0 -70px; line-height:34px; width:140px; background:#fff; border-radius:4px; text-align:center; color:#bd48b9}
.collection-box:hover .overlay{opacity:1; filter:alpha(opacity=100);}


.groups{}
.groups h2{ margin:0; padding:10px; text-align:center; font-size:30px; font-family: 'Open Sans', sans-serif; font-weight:600; color:#000}
.group{ margin:30px 0 0 0; padding:0; background:#fff; border:1px solid #d1d3d4; border-radius:8px; overflow:hidden;}
.group-head{ position:relative; padding:12px 10px; position:relative;}
.group-head .group-img{ margin:0 auto; width:80px; height:80px;}
.group-head .group-img img{ width:100%; height:100%; border:2px solid #d1d3d4; border-radius:50%}
.group-head h4{ text-align:center; padding:12px 0 0 0; margin:0; color:#2f282c; text-align:center; font-size:17px; font-family: 'ProximaNova-Semibold';}
.group ul{ margin:0; padding:4px; border-bottom:1px solid #d1d3d4; border-top:1px solid #d1d3d4; list-style:none; text-align:center;}
.group ul li{ display:inline-block; font-size:12px; color:#59595b; margin:0 8px;}
.group ul li i{ margin-right:5px;}
.group-info{ padding:12px; font-size:12px;}
.group-info p{ margin:0; padding:0}
.join-btn, .join-btn:hover{ display:block; line-height:30px; color:#fff; text-align:center;  border-top:1px solid #d1d3d4; background:#bd48b9;}
.group .overlay{ position:absolute; height:100%; width:100%; top:0; left:0; background:rgba(0,0,0, 0.7); -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s; opacity:0; filter:alpha(opacity=0);}
.group .overlay a{ position:absolute; top:50%; left:50%; margin:-17px 0 0 -70px; line-height:34px; width:140px; background:#fff; border-radius:4px; text-align:center; color:#bd48b9}
.group:hover .overlay{opacity:1; filter:alpha(opacity=100);} 

.footer{ background:#393938; color:#fff; padding:40px 0;}
.footer a{ color:#fff;}
.footer a:hover{ text-decoration:underline;}
.footer h6{ margin:0 0 6px 0; font-size:14px; font-family: 'ProximaNova-Bold';}
.footmenu{ padding:0; list-style:none; margin:0}
.footmenu li{ font-size:14px;}

.social{ margin:0; padding:0; list-style:none; text-align:right}
.social li{ font-size:32px; display:inline-block; margin-right:15px;}
.social li:last-child{ margin:0}

/* #Media Queries
================================================== */
/* Large desktop */

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation [class*="col-"]{ float:none;}
    .top-search{ padding-left:60px;}
} 
/* END__ */

@media (min-width: 768px) and (max-width: 991px) {
    .navigation [class*="col-"]{ float:none;}
    .top-search{ padding-left:60px;}
    .social{ text-align:center;}
    .footer .col-sm-3{ margin-bottom:20px;}
} 
/* END__ */

@media only screen and (max-width: 767px) {
    .navigation [class*="col-"]{ float:none;}
    .top-search{ padding-left:60px;}
    .banner-search{ width:100%}
    .banner h1{ font-size:52px; line-height:52px;}
    .banner p{ font-size:20px; line-height:26px;}
    .banner-search-wrap{ padding:0}
    .banner-search .select, .banner-search  button{ position:relative; left:auto; right:auto; top:auto; bottom:auto; width:100%; border-radius:0;}
    .banner-search .select select{ border-radius:0}
    .banner-search .form-control{ margin:5px 0}
    .banner{ padding:40px 0}
    .secondary-nav .navbar-nav > li{ display:block;}
    .secondary-nav{ background:#003f62}
    .secondary-nav .navbar-default .navbar-nav > li > a{ color:#fff;}
    .wrapper{ padding:25px 0}
    .collection{ margin-bottom:40px;}
    .group, .collection-box{ margin-top:15px}
    .social{ text-align:center}
    .footer .col-sm-3{ margin-bottom:20px;}
    .footer{ padding:20px 0;}
} 
/* END__ */

@media (max-width: 479px) {
    .banner h1{ font-size:36px; line-height:36px;}
    .banner p{ font-size:16px; line-height:24px;}
} 
/* END__ */

button[type=submit]{
    margin-top: 0;
}

.community-container {
    max-width: 1200px;
    margin:0 auto;
}
.community-container {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    display: block;
}
